In [24]:
import os
import json

opensub_path = os.path.join("..", "data", "opensubtitles", "compressed")

infos = {}
for f in os.listdir(opensub_path):
    if ".info" in f:
        _, target_lang = f.split(".")[0].split("-")
        # open .info file, which is a json file
        with open(os.path.join(opensub_path, f), "r") as file:
            info = json.load(file)
            infos[target_lang] = {}
            for _key in info.keys():
                if isinstance(info[_key], dict):
                    infos[target_lang][_key] = int(info[_key]["count"])
                else:
                    infos[target_lang][_key] = round(float(info[_key]), 2)

# > 1 means that the target language is longer than the source language
infos

{'de': {'length_ratio': 1.19,
  '0.5': 719020,
  '0.6': 1414345,
  '0.7': 2525508,
  '0.8': 4146918,
  '0.9': 6627334,
  '1.0': 8697959},
 'eu': {'length_ratio': 1.09,
  '0.5': 7768,
  '0.6': 15606,
  '0.7': 28228,
  '0.8': 49363,
  '0.9': 72849,
  '1.0': 105692},
 'is': {'length_ratio': 1.03,
  '0.5': 75880,
  '0.6': 150171,
  '0.7': 260511,
  '0.8': 419985,
  '0.9': 614276,
  '1.0': 838767},
 'fr': {'length_ratio': 1.11,
  '0.5': 1806772,
  '0.6': 3548104,
  '0.7': 6300807,
  '0.8': 10141933,
  '0.9': 14264796,
  '1.0': 20502881},
 'da': {'length_ratio': 0.99,
  '0.5': 790191,
  '0.6': 1435860,
  '0.7': 2303276,
  '0.8': 3450454,
  '0.9': 4899023,
  '1.0': 6256848},
 'hu': {'length_ratio': 1.01,
  '0.5': 1560313,
  '0.6': 3175010,
  '0.7': 5937986,
  '0.8': 10178195,
  '0.9': 15289547,
  '1.0': 21522518},
 'ms': {'length_ratio': 1.12,
  '0.5': 37351,
  '0.6': 74119,
  '0.7': 128568,
  '0.8': 211236,
  '0.9': 364438,
  '1.0': 460469},
 'pl': {'length_ratio': 1.02,
  '0.5': 2105542,
  '0.6': 3810521,
  '0.7': 6275552,
  '0.8': 9399322,
  '0.9': 13174343,
  '1.0': 17491329},
 'no': {'length_ratio': 0.96,
  '0.5': 415797,
  '0.6': 749826,
  '0.7': 1224125,
  '0.8': 1812989,
  '0.9': 2514408,
  '1.0': 3261374},
 'lt': {'length_ratio': 0.99,
  '0.5': 69190,
  '0.6': 134416,
  '0.7': 240922,
  '0.8': 372663,
  '0.9': 532621,
  '1.0': 664991},
 'sq': {'length_ratio': 1.05,
  '0.5': 102869,
  '0.6': 196339,
  '0.7': 330680,
  '0.8': 527887,
  '0.9': 769454,
  '1.0': 1076166}}

In [59]:
import pandas as pd

df = pd.DataFrame(infos)
df

,de,eu,is,fr,da,hu,ms,pl,no,lt,sq
length_ratio,1.19,1.09,1.03,1.11,0.99,1.01,1.12,1.02,0.96,0.99,1.05
0.5,719020.00,7768.00,75880.00,1806772.00,790191.00,1560313.00,37351.00,2105542.00,415797.00,69190.00,102869.00
0.6,1414345.00,15606.00,150171.00,3548104.00,1435860.00,3175010.00,74119.00,3810521.00,749826.00,134416.00,196339.00
0.7,2525508.00,28228.00,260511.00,6300807.00,2303276.00,5937986.00,128568.00,6275552.00,1224125.00,240922.00,330680.00
0.8,4146918.00,49363.00,419985.00,10141933.00,3450454.00,10178195.00,211236.00,9399322.00,1812989.00,372663.00,527887.00
0.9,6627334.00,72849.00,614276.00,14264796.00,4899023.00,15289547.00,364438.00,13174343.00,2514408.00,532621.00,769454.00
1.0,8697959.00,105692.00,838767.00,20502881.00,6256848.00,21522518.00,460469.00,17491329.00,3261374.00,664991.00,1076166.00

In [60]:
df = df.reindex(df.loc["1.0"].sort_values(ascending=False).index, axis=1)
def human_readable_num(x):
    # round to nearest k:
    x = round(x, -3)
    # from e.g. 1560313 -> 1,560 (k)
    return f"{int(x/1000):,}" if x > 1000 else f"{int(x):,}"

# df = df.map(lambda x: str(int(x)) if x.is_integer() else str(x))
df = df.map(lambda x: human_readable_num(x) if x.is_integer() else str(x))
df

,hu,fr,pl,de,da,no,sq,is,lt,ms,eu
length_ratio,1.01,1.11,1.02,1.19,0.99,0.96,1.05,1.03,0.99,1.12,1.09
0.5,"1,560","1,807","2,106",719,790,416,103,76,69,37,8
0.6,"3,175","3,548","3,811","1,414","1,436",750,196,150,134,74,16
0.7,"5,938","6,301","6,276","2,526","2,303","1,224",331,261,241,129,28
0.8,"10,178","10,142","9,399","4,147","3,450","1,813",528,420,373,211,49
0.9,"15,290","14,265","13,174","6,627","4,899","2,514",769,614,533,364,73
1.0,"21,523","20,503","17,491","8,698","6,257","3,261","1,076",839,665,460,106

In [61]:
print(df.T.to_latex(float_format="{:0.2f}".format))

\begin{tabular}{llllllll}
\toprule
 & length_ratio & 0.5 & 0.6 & 0.7 & 0.8 & 0.9 & 1.0 \\
\midrule
hu & 1.01 & 1,560 & 3,175 & 5,938 & 10,178 & 15,290 & 21,523 \\
fr & 1.11 & 1,807 & 3,548 & 6,301 & 10,142 & 14,265 & 20,503 \\
pl & 1.02 & 2,106 & 3,811 & 6,276 & 9,399 & 13,174 & 17,491 \\
de & 1.19 & 719 & 1,414 & 2,526 & 4,147 & 6,627 & 8,698 \\
da & 0.99 & 790 & 1,436 & 2,303 & 3,450 & 4,899 & 6,257 \\
no & 0.96 & 416 & 750 & 1,224 & 1,813 & 2,514 & 3,261 \\
sq & 1.05 & 103 & 196 & 331 & 528 & 769 & 1,076 \\
is & 1.03 & 76 & 150 & 261 & 420 & 614 & 839 \\
lt & 0.99 & 69 & 134 & 241 & 373 & 533 & 665 \\
ms & 1.12 & 37 & 74 & 129 & 211 & 364 & 460 \\
eu & 1.09 & 8 & 16 & 28 & 49 & 73 & 106 \\
\bottomrule
\end{tabular}